*.diff
*.patch
*.orig
*.rej

*~
.#*
*#

*.flt
*.gmo
*.info
*.la
*.lo
*.o
*.pyc
*.swp
*.tmp

build*

.deps
.libs

autom4te.cache
config.cache
config.intl
config.log
config.status
libtool
POTFILES
*-POTFILES
user_make.mk
Makefile

tags
TAGS
TAGS.sub

.gdbinit
.gdb_history

# ignore core files, but not java/net/protocol/core/
core
!core/

lost+found
html_sdd/
html_sum/

# SW Quality pipeline output
sw-quality/misra-c/*
report.json
*.log
